<!--Setting-->
<template name="Korben_setting">
    {{#if $and (subsReady  "Korben.setting") templateSubsReady}}
        {{#autoForm collection=Korben.Collection.Setting id="Korben_setting" doc=data type="update"}}
            <div class="row">
                <div class="col-md-6">
                    {{> afQuickField name='headOffice'}}
                </div>
                <div class="col-md-6">
                    {{> afQuickField name='baseCurrency'}}
                </div>
            </div>

            {{> formFooterWithButton}}
        {{/autoForm}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>
