<!--Index-->
<template name="Cpanel_welcome">
    {{#if currentUser}}
        {{#if role}}
            {{> Cpanel_welcomeConfig}}
        {{else}}
            {{> Cpanel_welcomeAccessDenied}}
        {{/if}}
    {{else}}
        {{> Cpanel_welcomeLogin}}
    {{/if}}
</template>

<!--Login-->
<template name="Cpanel_welcomeLogin">
    {{#autoForm schema=Cpanel.Schema.WelcomeLogin id="Cpanel_welcomeLogin"}}
        <div class="form-group has-feedback{{#if afFieldIsInvalid name="username"}} has-error{{/if}}">
            {{> afFieldInput name="username" placeholder="Username"}}
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            {{#if afFieldIsInvalid name="username"}}
                <span class="help-block">{{afFieldMessage name="username"}}</span>
            {{/if}}
        </div>

        <div class="form-group has-feedback{{#if afFieldIsInvalid name="password"}} has-error{{/if}}">
            {{> afFieldInput  type="password" name="password" placeholder="Password"}}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            {{#if afFieldIsInvalid name="password"}}
                <span class="help-block">{{afFieldMessage name="password"}}</span>
            {{/if}}
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">
                    <span class="glyphicon glyphicon-log-in"></span> Sign In
                </button>
            </div>
        </div>
    {{/autoForm}}
</template>

<!--Config-->
<template name="Cpanel_welcomeConfig">
    {{#if templateSubsReady}}
        {{#autoForm schema=Cpanel.Schema.WelcomeConfig id="Cpanel_welcomeConfig"}}
            <div class="row">
                <div class="col-xs-12">
                    {{> afQuickField name="module"}}
                    {{> afQuickField name="branch"}}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">
                        <i class="fa fa-angle-double-right"></i> Go
                    </button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-danger btn-block btn-flat js-sign-out">
                        <span class="glyphicon glyphicon-log-out"></span> Sign Out
                    </button>
                </div>
            </div>
        {{/autoForm}}

    {{else}}
        <div class="text-center">
            {{> iconLoading}}
        </div>
    {{/if}}
</template>

<!--Access Denied-->
<template name="Cpanel_welcomeAccessDenied">
    <div class="alert alert-danger" role="alert">
        <h2>[403]</h2>

        <p>
            Sorry, you couldn't access this application. Please contact administrator.
        </p>
    </div>
</template>
