<!--Index-->
<template name="Sample_location">
    <p>
        <button type="button" class="btn btn-primary js-create">{{fa "plus"}} New</button>
    </p>

    {{> tabular table=Sample.TabularTable.Location selector=selector class=tabularClass}}
</template>

<!--Action-->
<template name="Sample_locationAction">
    {{#tabularAction}}
        <li><a href="#" class="js-update">{{fa "pencil"}} Edit</a></li>
        <li><a href="#" class="js-destroy">{{fa "remove"}} Delete</a></li>
        <li><a href="#" class="js-display">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!--Insert-->
<template name="Sample_locationNew">
    {{#autoForm collection=Sample.Collection.Location id="Sample_locationNew" type="insert"}}
        <div class="row">
            <div class="col-md-12">
                {{> afQuickField name="name"}}
            </div>
        </div>

        {{> formFooterWithButton}}
    {{/autoForm}}
</template>

<!--Update-->
<template name="Sample_locationEdit">
    <!--Custom template sub ready by name-->
    {{#if templateSubsReady}}
        {{#autoForm collection=Sample.Collection.Location id="Sample_locationEdit" doc=data type="update"}}
            <div class="row">
                <div class="col-md-12">
                    {{> afQuickField name="name"}}
                </div>
            </div>

            {{> formFooterWithButton}}
        {{/autoForm}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>

<!--Show-->
<template name="Sample_locationShow">
    <!--Custom template sub ready by name-->
    {{#if templateSubsReady}}
        {{#with data}}
            <dl class="dl-horizontal">
                <dt>Id</dt>
                <dd>{{_id}}</dd>
                <dt>Name</dt>
                <dd>{{name}}</dd>
            </dl>
        {{/with}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>
