<template name="Korben_sidebarMenu">
    <li class="{{isActiveRoute name='korben.home'}}">
        <a href="{{pathFor 'korben.home'}}">
            <i class="fa fa-home"></i> <span>Home</span>
        </a>
    </li>
    <li class="{{isActiveRoute name='korben.exchange'}}">
        <a href="{{pathFor 'korben.exchange'}}">
            <i class="fa fa-exchange"></i> <span>Exchange</span>
        </a>
    </li>
    <li class="{{isActiveRoute name='korben.branch'}}">
        <a href="{{pathFor 'korben.branch'}}">
            <i class="fa fa-sitemap"></i> <span>Branch</span>
        </a>
    </li>
    <li class="{{isActiveRoute name='korben.company'}}">
        <a href="{{pathFor 'korben.company'}}">
            <i class="fa fa-building"></i> <span>Company</span>
        </a>
    </li>
    <li class="{{isActiveRoute name='korben.setting'}}">
        <a href="{{pathFor 'korben.setting'}}">
            <i class="fa fa-cogs"></i> <span>Setting</span>
        </a>
    </li>
    <li class="{{isActiveRoute name='korben.user'}}">
        <a href="{{pathFor 'korben.user'}}">
            <i class="fa fa-user"></i> <span>User</span>
        </a>
    </li>
</template>
