<template name="Korben_sidebarMenuTool">
    <li class="treeview">
        <a href="#">
            <i class="fa fa-wrench"></i> <span>Tool</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="{{isActiveRoute name='korben.backup'}}">
                <a href="{{pathFor 'korben.backup'}}"><i class="fa fa-circle-o"></i> Backup</a>
            </li>

            <!--Check restore role-->
            {{#if restore}}
                <li class="{{isActiveRoute name='korben.restore'}}">
                    <a href="{{pathFor 'korben.restore'}}"><i class="fa fa-circle-o"></i> Restore</a>
                </li>
            {{/if}}

            <li class="{{pathFor 'korben.help'}}">
                <a href="{{pathFor 'korben.help'}}" target="_blank"><i class="fa fa-circle-o"></i> Help</a>
            </li>
            <li class="{{isActiveRoute name='korben.about'}}">
                <a href="{{pathFor 'korben.about'}}"><i class="fa fa-circle-o"></i> About</a>
            </li>
        </ul>
    </li>
</template>
