<template name="Sample_sidebarMenu">
    <li class="{{isActiveRoute name='sample.home'}}">
        <a href="{{pathFor 'sample.home'}}">
            <i class="fa fa-home"></i> <span>Home</span>
        </a>
    </li>

    <!--Data-->
    {{#if isInRole 'data-new,data-edit,data-delete' 'Sample'}}
        <li class="header"><i class="fa fa-database"></i> DATA</li>
        <li class="{{isActiveRoute name='sample.customer'}}">
            <a href="{{pathFor 'sample.customer'}}">
                <i class="fa fa-circle-o"></i> <span>Customer</span>
            </a>
        </li>
    {{/if}}

    <!--Report-->
    {{#if isInRole 'report' 'Sample'}}
        <li class="header"><i class="fa fa-file-o"></i> REPORT</li>
        <li class="{{isActiveRoute name='sample.orderReport'}}">
            <a href="{{pathFor 'sample.orderReport'}}">
                <i class="fa fa-circle-o"></i> <span>Order</span>
            </a>
        </li>
    {{/if}}

    <!--Settings-->
    {{#if isInRole 'setting' 'Sample'}}
        <li class="header"><i class="fa fa-cogs"></i> SETTING</li>
        <li class="{{isActiveRoute name='cpanel.exchange'}}">
            <a href="{{pathFor 'cpanel.exchange'}}">
                <i class="fa fa-circle-o"></i> <span>Exchange</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='sample.location'}}">
            <a href="{{pathFor 'sample.location'}}">
                <i class="fa fa-circle-o"></i> <span>Location</span>
            </a>
        </li>
    {{/if}}
</template>
