<!--List-->
<template name="Korben_company">
    {{#if subsReady "Korben.company"}}
        {{#with data}}
            <dl class="dl-horizontal">
                <dt>Kh Name</dt>
                <dd>{{khName}}</dd>
                <dt>Kh Short Name</dt>
                <dd>{{khShortName}}</dd>
                <dt>En Name</dt>
                <dd>{{enName}}</dd>
                <dt>En Short Name</dt>
                <dd>{{enShortName}}</dd>
                <dt>Kh Address</dt>
                <dd>{{khAddress}}</dd>
                <dt>En Address</dt>
                <dd>{{enAddress}}</dd>
                <dt>Telephone</dt>
                <dd>{{telephone}}</dd>
                <dt>Email</dt>
                <dd>{{email}}</dd>
                <dt>Website</dt>
                <dd>{{website}}</dd>
            </dl>

            {{#formFooter}}
                <button type="button" class="btn btn-primary js-update">{{fa "pencil"}} Edit</button>
            {{/formFooter}}
        {{/with}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>

<!--Update-->
<template name="Korben_companyEdit">
    {{#autoForm collection=Korben.Collection.Company id="Korben_companyEdit" doc=data type="update"}}
        <div class="row">
            <div class="col-md-6">
                {{> afQuickField name='khName'}}
                {{> afQuickField name='khShortName'}}
                {{> afQuickField name='enName'}}
                {{> afQuickField name='enShortName'}}
                {{> afQuickField name='khAddress' row=3}}
            </div>
            <div class="col-md-6">
                {{> afQuickField name='enAddress' row=3}}
                {{> afQuickField name='telephone'}}
                {{> afQuickField name='email'}}
                {{> afQuickField name='website'}}
            </div>
        </div>

        {{> formFooterWithButton}}
    {{/autoForm}}
</template>
