<!--Item Temporary-->
<template name="Sample_orderItems">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <input type="text" name="tmpName" class="form-control" placeholder="Name">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <input type="text" name="tmpQty" class="form-control" placeholder="Qty">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <input type="text" name="tmpPrice" class="form-control" placeholder="Price">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <input type="text" name="tmpAmount" value="{{tmpAmount}}" class="form-control" placeholder="Amount"
                       readonly>
            </div>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-primary js-add-item" {{disabledAddItemBtn}}>+</button>
        </div>
    </div>
    <hr>

    {{#each item in itemsList}}
        <div class="row item">
            <div class="col-sm-4">{{> afQuickField name=(keyArgs @index "name") value=item.name class="js-name" readonly="true" label=false}}</div>
            <div class="col-sm-2">{{> afQuickField name=(keyArgs @index "qty") value=item.qty class="js-qty" label=false}}</div>
            <div class="col-sm-2">{{> afQuickField name=(keyArgs @index "price") value=item.price class="js-price" label=false}}</div>
            <div class="col-sm-3">{{> afQuickField name=(keyArgs @index "amount") value=item.amount class="js-amount" readonly="true" label=false}}</div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-danger js-remove-item">-</button>
            </div>
        </div>
    {{/each}}

    <div class="row">
        <div class="col-sm-8">
            <div class="pull-right">Total:</div>
        </div>
        <div class="col-sm-3">
            {{> afQuickField name="total" value=total label=false}}
        </div>
        <div class="col-sm-1"></div>
    </div>
</template>
